
:root{
    --orange:#fccc4c;
    --orange2:#e88835;
    --green:#85c60d;
    --red:#f2002d;
    --box-shadow:0 0 15px -6px;
    --box-shadow2: 0 0 30px 0 rgb(0 0 0 / 12%);
}
.header-background{
    background-color: #fff7ef;
    position: relative;
    top: -4em;
    
}
.header-background img{
    width: 80%;
    margin:0;
}

@media screen and (max-width: 1299px) {
    .header-background{
       
        top: -2em;
        
    }
}

@media screen and (max-width: 330px) {
    .header-background img {
        width: 100%;
        
    }
}