:root{
    --orange:#fccc4c;
    --orange2:#e88835;
    --green:#85c60d;
    --red:#f2002d;
    --gray:#989898;
    --gray2:#767676;
    --light-gray:#ebebeb;
    --cream:#fff7efd9;
    --pink:#e4584b;
    --box-shadow:0 0 15px -6px;
    --box-shadow2: 0 0 30px 0 rgb(0 0 0 / 12%);
}


.gototop{
    position: fixed;
    visibility: hidden;
    display: flex;
    opacity: 0;
    padding: 14px;
    bottom: 0;
    right: 5em;
    border-radius: 10em;
    background-color: var(--orange);
    box-shadow: var(--box-shadow);
    transition: 0.3s;
    cursor: pointer;
}
.gototop.active{
  

    visibility: visible;
    opacity: 1;
    bottom: 3em;

}

.gototop img{
    width: 2.5em;
    transform: rotate(180deg);
}







@media screen and (max-width:510px) {
   
    .gototop{
        
      
        right: 2em;
        
    }
 

   
        
}


@media screen and (max-width:420px) {

    .gototop{
        
      
        right: 1em;
        
    }
  
  

}

@media screen and (max-width:380px) {

  
    .gototop.active{

        /* visibility: hidden;
        opacity: 0; */
            bottom: 7em;
    }

}