:root{
    --orange:#fccc4c;
    --orange2:#e88835;
    --green:#85c60d;
    --red:#f2002d;
    --gray:#989898;
    --gray2:#767676;
    --light-gray:#ebebeb;
    --box-shadow:0 0 15px -6px;
    --box-shadow2: 0 0 30px 0 rgb(0 0 0 / 12%);
}


.sec3-container{
    display: grid;
    
    grid-template-rows: 150px 1fr;
}
.sec3-title{
    grid-column: 1/-1;
    line-height: 4;
}
.sec3-title h3{
    font-weight: 700;
    font-size: 50px;
}
.sec3-title span{
font-size: 16px;
color: var(--gray);
}

.pizza-box-container{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    column-gap: 50px;
    padding: 0 10em;
    
}


@media screen and (max-width:915px) {
    .pizza-box-container{
        padding: 0 5em;
   
    }
    
}
@media screen and (max-width:700px) {
    .pizza-box-container {
        margin: 0 auto;
        padding: 0;
    }
    
    
    .sec3-container {
        
        padding: 0 2em;
    }
    .sec3-title{
        
        line-height: 2;
    }
    .sec3-title h3{
        
        font-size: 32px;
    }
    .sec3-title span{
        margin: 1em 0 0 0;
        display: block;
    }
    
}


@media screen and (max-width:330px) {
    .pizza-box-container {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    }
    .sec3-container {
        
        padding: 0 1em;
    }
}