:root{
    --orange:#fccc4c;
    --orange2:#e88835;
    --green:#85c60d;
    --red:#f2002d;
    --gray:#989898;
    --gray2:#767676;
    --light-gray:#ebebeb;
    --box-shadow:0 0 15px -6px;
    --box-shadow2: 0 0 30px 0 rgb(0 0 0 / 12%);
}

.sec2-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
    grid-template-rows: 150px 1fr;
    margin: 0 0 5em 0;
}
.sec2-title{
    grid-column: 1/-1;
    line-height: 4;
}
.sec2-title h3{
    font-weight: 700;
    font-size: 50px;
}
.sec2-title span{
font-size: 16px;
color: var(--gray);
}

.food-box-container{
    grid-column: 1/-1;
    padding: 0 15em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,max-content));
    column-gap: 30px;
    row-gap: 20px;
   
}
.food-box1 a,
.food-box2 a,
.food-box3 a{
 display: grid;
 grid-template-rows: 20em repeat(3,60px) 70px;
 grid-template-columns: repeat(4,1fr);
}

.food-box1 a img,
.food-box2 a img,
.food-box3 a img,
.food-title,
.food-subtitle{
    grid-column: 1/-1;
}


.food-box1,
.food-box2,
.food-box3{
    border-radius: 10px;
}
.food-box1{
    /* grid-column: 2/3; */
    background-color: #effff6 !important;
}
.food-box2{
    /* grid-column: 3/4; */
    background-color: #fff7ef !important;
}
.food-box3{
    /* grid-column: 4/5; */
    background-color: #f2fafb !important;
}

.food-title{
    align-self: center;
    color: var(--red);
    font-size: 22px;
}
.food-subtitle{
    font-size: 30px;
    font-weight: 700;
}
.food-btn{
    align-self: center;
    padding: 10px 15px;
    background-color: var(--red);
    color: #fff;
    border-radius: 10em;
    grid-column: 2/4;
}
.foodBox{
    overflow: hidden;
}
.foodBox a img{
    transition: 0.3s;
    
}
.foodBox:hover> a img{
    transform: scale(1.1);
}

@media screen and (max-width:915px) {
    .food-box-container {
       
        padding: 0 10em;
        
       
    }
}


@media screen and (max-width:700px) {
    .food-box-container {
        margin: 0 auto;
    padding: 0;
   
}
.sec2-container {
    
    padding: 0 2em;
}
.sec2-title{
   
    line-height: 2;
}
.sec2-title h3{
    
    font-size: 32px;
}
.sec2-title span{
    margin: 1em 0 0 0;
    display: block;
    }
    
}